#nav {
  text-align: center;
}

body {
  overflow-x: hidden;
}

nav {
  width: 100%;
  margin-top: 40px;
}

.explore {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-vollkorn);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  text-align: center;
  font: normal normal normal 20px/28px Vollkorn;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

.make {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 55px/var(--unnamed-line-spacing-70) var(--unnamed-font-family-merienda);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  text-align: center;
  font: normal normal normal 55px/70px Merienda;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

.memo {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 50px/60px var(--unnamed-font-family-vollkorn);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  text-align: center;
  font: normal normal normal 50px/60px Vollkorn;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

.travel {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 16px/26px var(--unnamed-font-family-vollkorn);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  text-align: center;
  font: normal normal normal 16px/26px Vollkorn;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

.cust{
  font: var(--unnamed-font-style-normal) normal bold 25px/35px var(--unnamed-font-family-vollkorn);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: left;
font: normal normal bold 25px/35px Vollkorn;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}

#stan {
  color: orange;
  font-weight: 600;
  font-size: larger;
}

#stapp {
  font-weight: 500;
  font-size: 9px;
  margin-top: -15px;
}

#mass {
  background-color: orange;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 20px
}

.navbar li {
  margin: 0 15px 0px 15px;
}

.navbar a {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-28) var(--unnamed-font-family-vollkorn);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 20px/28px Vollkorn;
  letter-spacing: 0px;
  color: #585858;
  opacity: 1;
  text-decoration: none;

}

.alians {
  background-color: #E5F3FF;
}

/* //hero */
.hero-header {
  background: linear-gradient(to right, rgba(20, 20, 31, .7), #7993a9), url(./images/frist\ image.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.heros-header {
  background: linear-gradient(to right, rgba(20, 20, 31, .7), #afbfcc), url(./images/boat.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.breadcrumb-item+.breadcrumb-item::before {
  color: rgba(255, 255, 255, .5);
}

.home-name {
  font-family: "Kalam", cursive;
}

.page-style {
  letter-spacing: var(--unnamed-character-spacing-0);
text-align: left;
font: normal normal normal 16px/26px Vollkorn;
letter-spacing: 0px;
color: #6B6B6B;
opacity: 1;
}

.header-up {
  font-family: "PT Serif", serif;

}

.img1{
  
}

.bg {
  background-color: #F8F8F8;
}

.mango{
  background-color: #EBEBEB;
  margin-bottom: 70px;
}

.Specailist {
  margin-top: -40px;
  color: #1374C4;
}

.blue-shade {
  transform: rotate(180deg) translateX(180px);

}

.white-shade{
  transform: rotate(180deg)

}

.hypo{
  background-color: #FBFBFB;
}
.hypus{
  z-index: -10;

}
.white{
 height: 90px;
}

.mike{
  margin-bottom: -80px;
  width: 100%;
}

.spec {
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 25px/32px Vollkorn;
  letter-spacing: 0px;
  color: #004D47;
  opacity: 1;
}

.Philippines {
  color: #BBBBBB;
  font-family: "Dancing Script", cursive;
  font-size: 70px;

}

.plane {
  width: 40vh;
  translate: -100px;
}

.planes {
  width: 80px;
  translate: 40px;
}

.hepp{
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 25px/35px var(--unnamed-font-family-vollkorn);
letter-spacing: var(--unnamed-character-spacing-0);
text-align: left;
font: normal normal normal 25px/35px Vollkorn;
letter-spacing: 0px;
color: #00AA9E;
opacity: 1;
}

.cards {
 
  margin-top: 230px;
  opacity: 1;
  background: rgba(250, 247, 247, 0.8); /* Adjust the last value for transparency */
}

.cardss{
  margin-top: 30px;
  
}

.poko{
 background-color: #EBEBEB;
}

.makk{
  background-color: #00AA9E;
}

.para {
  margin-top: 55px;
  width: 75%;
  color: var(--unnamed-color-ffffff);
  text-align: left;
  font: normal normal normal 16px/26px Vollkorn;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

.masss {
  background-color: orange;
}

.destiny {
  background: transparent url('./images/backGround.jpg') 0% 0% no-repeat padding-box;
}

.dest {
  background-color: #014d47;
  opacity: 0.63;
}

.despacito{
  background-color: #0A4B81;
  opacity: 0.63;

}

/* /\collab */

.collab{
  background: transparent url('./images/boat.png') 0% 0% no-repeat padding-box;
  height: 25%;

}

.img .img-item:hover .img-content {
  background: rgba(0, 0, 0, 0.69);
}

.why-us {
  background-image: url("./images/abstract.png");
  object-fit: cover;
  object-position: center;
}

.btns {
  margin-left: 60px;
}

.feedback {
  background-image: url(./images/earth.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* booking */
.bookings {
  background: transparent url('./images/keyboard.png') 0% 0% no-repeat padding-box;

}

.macbook{
  background-color: #004D47;
  opacity: 0.63;
}

.excel{
  background: transparent url('./images/sea\ bridge.png') 0% 0% no-repeat padding-box;
}

/* .luxuary{
/* UI Properties */
/* background: transparent url('images/girl\ with\ papper.jpg') 0% 0% no-repeat padding-box;
opacity: 1;
width: 2000px;
} */ */




.heros-header {
  background: linear-gradient(rgba(241, 241, 244, 0.959), rgba(20, 20, 31, .7)), url(./images/pexels-pixabay-33545.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* packages */

.packages .packages-item .packages-img {
  position: relative;
  overflow: hidden;
  transition: 0.5s;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  z-index: 1;
}

/* corrosal */
#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%);
  user-select: none;
  /* -- Prevent image highlighting -- */
}

#image-track>.image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
}

.bokwhite{
  padding: 30px;
  background-image: url(./images/whiteback.jpg);
}

/* -- YouTube Link Styles -- */

body.menu-toggled>.meta-link>span {
  color: rgb(30, 30, 30);
}

#source-link {
  bottom: 60px;
}

#source-link>i {
  color: rgb(94, 106, 210);
}

#yt-link>i {
  color: rgb(239, 83, 80);
}

.meta-link {
  align-items: center;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  bottom: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: inline-flex;
  gap: 5px;
  left: 10px;
  padding: 10px 20px;
  position: fixed;
  text-decoration: none;
  transition: background-color 400ms, border-color 400ms;
  z-index: 10000;
}

.meta-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.meta-link>i,
.meta-link>span {
  height: 20px;
  line-height: 20px;
}

.meta-link>span {
  color: white;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

.machu {
  text-decoration: none;
}

.stand {
  justify-content: center;
  align-items: center;
  padding: 0%;
  margin-left: 700px;

}

.footer {
  background-image: url("./images/earth\ 2.jpg");

  background-size: cover;
}

.amigo {
  width: 220px;
  height: 50vh;
}

.iconset {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon,
.up-arrow {
  width: 60px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 10px 0px 10px;
}

.icon i {
  font-size: 30px;
  color: black;
}

footer {
  margin: 3rem 0px;
}